---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<style>


  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  .strip-odd{
    background-color: #f7f7f7;
  }

  .strip-even{
    background-color: #f7f7f7;
  }
  
  .image-container {
    flex: 1;
    padding: 20px;
  }

  .text-container {
    flex: 1;
    padding: 20px;
  }

  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .text-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  .icon-container::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  --bg-opacity: 1;
  background-color: #6c63ff;
  background-color: rgba(230,37,31,var(--bg-opacity));
  border-radius: 9999px;
  margin-right: .75rem;
}

  .text-container p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
  }

  .text-container ul {
    list-style: none;
    padding: 0;
  }

  .text-container ul li {
    padding: 5px 0;
    font-size: 16px;
    color: #666;
  }

  .text-container ul li::before {
    content: '*';
    color: #e6251f;
    margin-right: 10px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

</style>


<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="about-section">
      <div class="image-container {% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}">
        <img src="images/illustrations/empathy.png" width="500" alt="Company Image">
      </div>
      <div class="text-container">
        <h2 class="icon-container">Empathy</h2>
        <p>Empathy is the ability to understand and share the feelings of others, is fundamental to building strong, positive relationships. </p>
        <br>
        <ul>
          <li>It fosters a sense of connection and trust, making it easier to collaborate, resolve conflicts</li><br>
          <li>Empathizing with the experiences of others can lead to more compassionate societies</li><br>
          <li>It can reduce prejudice, encourage helping behaviors, and promote social harmony</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-odd" >
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="about-section">
      
      <div class="text-container">
        <h2 class="icon-container">Critical Thinking</h2>
        <p>Critical thinking enable us to analyze information objectively, identify logical connections, evaluate arguments, and solve problems effectively.</p><br>
        <ul>
          <li>This skill is crucial for managing today's information overload, which often includes misleading or biased content.</li> <br>
          <li>The ability to critically evaluate the credibility of information and the motives behind it is more important than ever.</li><br>
          <li>Critical awareness protects us from being manipulated or deceived.</li>
        </ul>
      </div>
      <div class="image-container {% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}">
        <img src="images/illustrations/critical.png" width="500" alt="Company Image">
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="about-section">
      <div class="image-container {% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}">
        <img src="images/illustrations/biases.png" width="500" alt="Company Image">
      </div>
      <div class="text-container">
        <h2  class="icon-container">Biases</h2>
        <p>Biases are preconceived notions or prejudices against individuals, groups, or ideas, often arising from stereotypes, cultural norms, personal experiences, or societal influences.</p><br>
        <ul>
          <li>Biases influence our decisions, behaviors, and judgments in ways we may not be fully aware of.</li><br>
          <li>By questioning our own and others' assumptions, we can gain a more profound and detailed insight into complex matters.</li><br>
          <li>This critical self-reflection is key to personal growth and societal progress.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
